/* 
    Document   : customize
    Created on : Oct 3, 2014, 5:11:01 PM
    Author     : Ho_Jin_Wei_Benedict
    Description:
        Purpose of the stylesheet follows.
*/
.halfpage { 
    width:300px;
    margin: 1119px; 
}

